<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.ticket.services.persistence.dao.TicketExecutionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.ticket.services.persistence.model.TicketExecution">
		<id column="id" property="id" />
		<result column="ticket_plan_used" property="ticketPlanUsed" />
		<result column="applicant_id" property="applicantId" />
		<result column="applicant" property="applicant" />
		<result column="number" property="number" />
		<result column="apply_time" property="applyTime" />
		<result column="status" property="status" />
		<result column="executor_id" property="executorId" />
		<result column="executor" property="executor" />
		<result column="execute_time" property="executeTime" />
		<result column="process_instance_id" property="processInstanceId" />
		<result column="plan_id" property="planId" />
		<result column="plan_name" property="planName" />
		<result column="plan_number" property="planNumber" />
		<result column="strategy_id" property="strategyId" />
		<result column="strategy_name" property="strategyName" />
		<result column="lifecycle" property="lifecycle" />
		<result column="name" property="name" />
		<result column="plan_department_id" property="planDepartmentId" />
		<result column="plan_department_name" property="planDepartmentName" />
		<result column="execute_department_id" property="executeDepartmentId" />
		<result column="execute_department_name" property="executeDepartmentName" />
		<result column="fault_ticket_id" property="faultTicketId" />
		<result column="fault_ticket_number" property="faultTicketNumber" />
		<result column="fault_name" property="faultName" />
		<result column="type_id" property="typeId" />
		<result column="type_name" property="typeName" />
		<result column="practices" property="practices" />
		<result column="practices_step" property="practicesStep" />
		<result column="content" property="content" />
		<result column="result" property="result" />
		<result column="procedure" property="procedure" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ticket_plan_used AS ticketPlanUsed,applicant_id AS applicantId, applicant, number, apply_time AS applyTime, `status`, executor_id AS executorId, executor, execute_time AS executeTime, process_instance_id AS processInstanceId, plan_id AS planId, plan_name AS planName, plan_number AS planNumber, strategy_id AS strategyId, strategy_name AS strategyName, lifecycle, name, plan_department_id AS planDepartmentId, plan_department_name AS planDepartmentName, execute_department_id AS executeDepartmentId, execute_department_name AS executeDepartmentName, fault_ticket_id AS faultTicketId, fault_ticket_number AS faultTicketNumber, fault_name AS faultName, type_id AS typeId, type_name AS typeName, practices, practices_step AS practicesStep, content, ticket_id AS ticketId, result, `procedure`
    </sql>

</mapper>
